@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600&display=swap');

form.assets input {
    background: none;
}

button.assets {
    text-align: center;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    padding-left: 0.6%;
    padding-right: 0.6%;
    border-radius: 50px;
    font-size: 100%;
    color: mintcream;
    background-color: rgba(121, 120, 117, 0.089);
    border: none;
    font-family: 'Tangerine' Verdana, Tahoma, 'poppins';
}

button.assets:hover {
    color: green;
    background-color: rgb(5, 5, 5);
}

input.assets {
    border-radius: 16px;
    display: inline;
    text-align: center;
    color: blue;
    background-color: transparent;
    background: none;
    flex: auto;
    outline: none;
    border: none;
    letter-spacing: 1px;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-right: 0.0%;
    padding-left: 0.0%;
    margin-bottom: 5px;
    width: auto;
}

button.reset {
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    padding-left: 0.8%;
    padding-right: 0.8%;
    border-radius: 50px;
    font-size: 92%;
    font-family: 'Tangerine' Verdana, Geneva, Tahoma, sans-serif;
    color: mintcream;
    background-color: darkred;
    width: auto;
    border: none;
}

button.reset:hover {
    color: rgb(5, 5, 5);
    background-color: rgb(5, 5, 5);
    border-radius: 16px;
}